#chatborder {
    border-style: solid;
    background-color: #f6f9f6;
    border-width: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 15px;
    border-radius: 15px;
}

.chatlog {
    font: 15px arial, sans-serif;
}

#chat {
    height: 500px;
    overflow: scroll;
    /* border: 1px solid #dad7d7;
    border-radius: 10px; */
    margin-top: 20px;
    padding: 10px;
}

#chatbox {
    font: 17px arial, sans-serif;
    height: 22px;
    width: 100%;
    padding-bottom: 80px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  

#doctors-list, #diagnosis-list{
    height: 25px;
    width: 100%;
}

#doctors-list,#diagnosis-list {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #doctors-list td, #doctors-list th {
    padding: 12px;
  }
  #diagnosis-list td, #diagnosis-list th {
    padding: 12px;
  }
  

  #diagnosis-list tr:nth-child(even){background-color: #f2f2f2;}
  
  #diagnosis-list tr:hover {background-color: #ddd;}
  
  #diagnosis-list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #323232;
    color: white;
  }

  #doctors-list tr:nth-child(even){background-color: #f2f2f2;}

  
  #doctors-list tr:hover {background-color: #4bc970;}
  
  #doctors-list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #323232;
    color: white;
  }
  body {
  background-color: #e4e1d7 !important;
}
