/* resets */
body { margin:0px; padding:0px; }

p { margin: 1em 0; }

/* main */
header {
    /* height: 360px; */
    z-index: 10;
    margin-bottom: 50px;
    /* border-radius: 10px; */
}
.header-banner {
    background-color: #25A3FF;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}

header h1 {
    background-color: #25A3FF;
    color: #fff;
    padding: 0 1rem;
    position: absolute;
    top: 2rem; 
    left: 2rem;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
}

.content-container {
    padding-top: 10px;
    max-width: 100%;
} 

.site-title {
    color: black;
    text-align: center;
    font-family: sans-serif;
    padding-left: 1px;
    font-variant: all-small-caps;
    font-size: 28px;
}

nav {
    width: 100%;
    height: 60px;
    background: #25A3FF;
    postion: fixed;
    z-index: 10;
}

nav div {
    color: black;
    font-size: 2rem;
    line-height: 60px;
    position: absolute;
    top: 0;
    left: 2%;
    /* visibility: hidden; */
}
.visible-title {
    visibility: visible;
}

nav ul { 
    list-style-type: none;
    margin: 0 2% auto 0;
    padding-left: 0;
    text-align: right;
    max-width: 100%;
}
nav ul li { 
    display: inline-block; 
    line-height: 60px;
    margin-left: 10px;
}
nav ul li a {
    text-decoration: none; 
    color: black;
}

/* demo content */
body { 
    color: #292f36;
    font-family: helvetica;
    line-height: 1.6;
}

.chat-view {
    width: 40%;
    float: right;
    margin-right: 72px;
}

.form-view {
    width: 40%;
    float: left;
    margin-left: 72px;
}

.content{ 
    margin: 0 auto;
    padding: 4rem 0;
    width: 960px;
    max-width: 100%;
}
article {
    float: left;
    width: 720px;
}
article p:first-of-type {
    margin-top: 0;
}
aside {
    float: right;
    width: 120px;
}
p img {
    max-width: 100%;
}

@media only screen and (max-width: 960px) {
    .content{ 
        padding: 2rem 0;
    }
    article {
        float: none;
        margin: 0 auto;
        width: 96%;
    }
    article:last-of-type {  
        margin-bottom: 3rem;
    }
    aside {  
        float: none;
        text-align: center;
        width: 100%;
    }
}


form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    /* background: #f4f7f8; */
    border-radius: 8px;
    float: left;
}

h1 {
margin: 0 0 30px 0;
text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="textarea"],
textarea,
select {
background: rgba(255,255,255,0.1);
border: none;
font-size: 16px;
height: auto;
margin: 0;
outline: 0;
padding: 15px;
width: 100%;
background-color: #e8eeef;
color: #8a97a0;
box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
margin-bottom: 30px;
}

.select2-selection--multiple{
    background: rgba(255,255,255,0.1);
}

input[type="radio"],
input[type="checkbox"] {
margin: 0 4px 8px 0;
}

/* select {
padding: 6px;
height: 32px;
border-radius: 2px;
} */

button {
padding: 19px 39px 18px 39px;
color: #FFF;
background-color: #4bc970;
font-size: 18px;
text-align: center;
font-style: normal;
border-radius: 5px;
width: 100%;
border: 1px solid #3ac162;
border-width: 1px 1px 3px;
box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
margin-bottom: 10px;
}

fieldset {
margin-bottom: 30px;
border: none;
}

legend {
font-size: 1.4em;
margin-bottom: 10px;
}

label {
display: block;
margin-bottom: 8px;
}

label.light {
font-weight: 300;
display: inline;
}

.number {
background-color: #5fcf80;
color: #fff;
height: 30px;
width: 30px;
display: inline-block;
font-size: 0.8em;
margin-right: 4px;
line-height: 30px;
text-align: center;
text-shadow: 0 1px 0 rgba(255,255,255,0.2);
border-radius: 100%;
}

@media screen and (min-width: 480px) {

form {
    max-width: 480px;
}

}


